# ===== C/C++ Build Artifacts =====
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug info
*.dwo


# ===== Python & Tooling =====
.venv/
__pycache__/
*.pyc

# Editors
.vscode/


# ===== GIS / Data Management =====
data/*.zip
data/*.gdb
data/*.tif

# (We DO track GeoPackage, CSV, PNG, and scripts)
# so do NOT ignore:
# data/*.gpkg
# data/*.csv
# data/*.png
# scripts/*.py


# ===== QGIS / Local Project Files =====
*.aux.xml
mapV1.qgz
gitUpload/


# ===== Archives / Misc =====
*.gz
*.zip
*.gdb
*.aux.xml
